<!DOCTYPE html>
<html ng-app="OpenPOS">

<head>
	<meta charset="utf-8">
	<title>OpenPOS Demo</title>
	<base href="/">

	<!-- Bootstrap - Latest compiled and minified CSS -->
	<!--	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />

	<!-- jQuery -->
	<!--	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
	<!--	<script src="https://code.angularjs.org/1.3.0-rc.2/angular.js"></script>-->

	<!-- Bootstrap - Optional theme -->
	<!--	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">-->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

	<!-- Local Stylesheet -->
	<link rel="stylesheet" href="/css/pos.css" />
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />

	<!-- AngularJS controller -->
	<script src="poscontroller.js"></script>
</head>

<body data-ng-controller="PosController">
	<div class="container">
		<div class="header clearfix">
			<nav>
				<ul class="nav nav-pills pull-right">
					{{#if user}}
					<!--					<li role="presentation"><a href="/">Dashboard</a></li>-->
					<li role="presentation"><a href="/users/logout">Logout</a></li>
					{{else}}
					<li role="presentation"><a href="/users/login">Login</a></li>
					<li role="presentation"><a href="/users/register">Register</a></li>
					{{/if}}
				</ul>
			</nav>
			<h3 class="text-muted">OpenPOS</h3>
		</div>


		<div class="row">
			<div class="col-lg-12">
				{{#if success_msg}}
				<div class="alert alert-success">{{success_msg}}</div>
				{{/if}} {{#if error_msg}}
				<div class="alert alert-danger">{{error_msg}}</div>
				{{/if}} {{#if error}}
				<div class="alert alert-danger">{{error}}</div>
				{{/if}}
			</div>
		</div>
	</div>
	<!-- /container -->

	<!-- template views injection -->
	{{{body}}}
	<!-- template views injection -->
</body>

</html>


<script>
	$(document).ready(function() {
		$("#myTab a").click(function(e) {
			e.preventDefault();
			$(this).tab('show');
		});

		$('#foo').keypress(function(e) {
			if (e.keyCode == 13)
				$('#bar').click();
		});
	});

</script>
